@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Raleway', sans-serif;
}

h1,
.h1 {
	@apply text-6xl font-semibold;
}
h2,
.h2 {
	@apply text-5xl font-semibold;
}
h3,
.h3 {
	@apply text-4xl font-semibold;
}
h4,
.h4 {
	@apply text-3xl font-semibold;
}
h5,
.h5 {
	@apply text-2xl font-semibold;
}
h6,
.h6 {
	@apply text-xl font-semibold;
}
.page-title {
	@apply text-8xl font-semibold;
    white-space: break-spaces;
    overflow-wrap: break-word;
}

.post-content h1 {
	@apply text-3xl font-semibold;
}

.post-content h2 {
	@apply text-2xl font-semibold;
}

.post-content h3 {
	@apply text-xl font-semibold;
}

.post-content {
	p,
	li {
		font-size: 1.2rem;
	}

	strong {
		font-weight: 600;
	}
}

.post-content > div > *:not(h1, h2, h3, h4, h5, h6) {
	margin: 15px 0;
}

.post-content > div > p + p {
	margin-top: 30px;
}

.post-content table {
	@apply bg-slate-100 rounded-lg;
}

.post-content {
	thead tr,
	tbody tr:not(:last-child) {
		border-bottom: 3px solid white;
	}

	td,
	th {
		padding: 10px;
		text-align: left;
		border-left: 3px solid white;
	}
}

.post-content > div {
	> h1 {
		margin-top: 50px;
	}
	> h2 {
		margin-top: 40px;
	}
	> h3 {
		margin-top: 30px;
	}
	> h4,
	> h5,
	> h6 {
		margin-top: 25px;
	}

	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		margin-bottom: 10px;
		:first-child {
			margin-top: 0;
		}
	}
}

.post-content pre {
	overflow: auto;
}

.post-content :not(pre) code {
	@apply bg-slate-100 rounded-lg px-2 py-1 text-sm font-medium;
	vertical-align: middle;
}

.post-content li {
	@apply ml-5 relative;
}

.post-content div ul {
	list-style: disc;
}
.post-content div ol {
	list-style: decimal;
}

.post-content pre code {
	background-color: none;
	padding: 0;
	@apply bg-slate-100 rounded-lg;
}

.post-content pre {
	@apply bg-slate-100 rounded-lg p-5;
}

.post-content > div > blockquote {
	color: gray;
	padding-left: 20px;
	border-left: 3px solid lightgray;
}

i.post-date {
	display: block;
	margin-bottom: 5px;
}
