@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Raleway', sans-serif;
}

h1,
.h1 {
	@apply text-6xl font-semibold;
}
h2,
.h2 {
	@apply text-5xl font-semibold;
}
h3,
.h3 {
	@apply text-4xl font-semibold;
}
h4,
.h4 {
	@apply text-3xl font-semibold;
}
h5,
.h5 {
	@apply text-2xl font-semibold;
}
h6,
.h6 {
	@apply text-xl font-semibold;
}
.page-title {
	@apply text-8xl font-semibold;
}

.post-content h1 {
	@apply text-3xl font-semibold;
}

.post-content h2 {
	@apply text-2xl font-semibold;
}

.post-content h3 {
	@apply text-xl font-semibold;
}

.post-content p {
	font-size: 1.2rem;
}

.post-content > div > * {
	margin: 50px 0;
}

.post-content pre {
	overflow: auto;
}

.post-content p code,
.post-content li code {
	@apply bg-slate-50 rounded-lg px-3 py-1;
}

.post-content li {
	@apply ml-5 mb-4 relative;
}

.post-content li:before {
	display: block;
	content: '';
	background: black;
	width: 10px;
	height: 2px;
	left: -20px;
	top: 10px;
	position: absolute;
}

.post-content pre code {
	background-color: none;
	padding: 0;
}

.post-content pre {
	@apply bg-slate-50 rounded-lg p-5;
}
