@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Raleway', sans-serif;
}

h1,
.h1 {
	@apply text-6xl font-semibold;
}
h2,
.h2 {
	@apply text-5xl font-semibold;
}
h3,
.h3 {
	@apply text-4xl font-semibold;
}
h4,
.h4 {
	@apply text-3xl font-semibold;
}
h5,
.h5 {
	@apply text-2xl font-semibold;
}
h6,
.h6 {
	@apply text-xl font-semibold;
}
.page-title {
	@apply text-8xl font-semibold;
}

.post-content h1 {
	@apply text-3xl font-semibold;
}

.post-content h1:not(:first-child) {
	margin-top: 50px;
}

.post-content h2 {
	@apply text-2xl font-semibold;

	margin-top: 40px;
}

.post-content h3 {
	@apply text-xl font-semibold;
	margin-top: 30px;
}

.post-content p {
	font-size: 1.2rem;
	margin: 15px 0;
}

.post-content * {
	margin: 15px 0;
}

.post-content code {
	@apply bg-slate-50 rounded-lg px-1 py-3;
}

.post-content pre code {
	background-color: none;
	padding: 0;
}

.post-content pre {
	@apply bg-slate-50 rounded-lg p-5;
}
